<nz-table #basicTable [nzData]="listOfData">
  <thead>
    <tr class="head">
      <ng-container *ngFor="let col of cols">
        <th
          *ngIf="col.width"
          nz-resizable
          [nzPreview]='false'
          [nzWidth]="col.width"
          (nzResize)="onResize($event, col.title)"
        >
          {{ col.title }}
          <nz-resize-handle style="cursor:col-resize;" nzDirection="right">
            <div class="resize-trigger"></div>
          </nz-resize-handle>
        </th>
        <th *ngIf="!col.width">
          {{ col.title }}
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfData">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td ><div class="hiddenText" [ngStyle]="{'width':data.width+'px'}">{{ data.address }}</div></td>
      <td>-</td>
    </tr>
  </tbody>
</nz-table>